@font-face {
  font-family: "Press Start 2P";
  src: url("https://storage.wildwest.gg/uploads/1730265476288_press_start_2p.woff2") format("woff2");
}

body {
  margin: 0;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  font-family: "Press Start 2P", cursive;
}

#game-container {
  width: 800px;
  height: 600px;
  position: relative;
}

#raycaster {
  width: 100%;
  height: 100%;
  image-rendering: pixelated;
}
